.example-card {
    display: inline-block !important;
    width: 400px;
    margin: 21px;
    height: 700px;
}
.mat-card-title{
    width: 300px;
    cursor: pointer;
}
.mat-toolbar-row, .mat-toolbar-single-row{
    padding: 0 20px;
}
.mat-card-header span{
    float: right;
    font-size: 20px;
}
.example-card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}  

.mat-card-image{
    height: 100%;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .nav-item{
      cursor: pointer;
      padding: 0 9px;
  }

  h1{
      margin: 19px;
  }

  
  @media screen and (max-width: 1366px) {
    .example-card {
        width: 380px;
        height: 500px;
    }

    .mat-card-title{
        width: 250px;
        font-size: 18px;
    }
  }

  @media screen and (max-width: 1024px) {
    .example-card {
        width: 261px;
        height: 410px;
    }
    .mat-card-title{
        width: 200px;
        font-size: 12px;
    }
    #vote-average{
        font-size: 12px;

    }
  }

  @media screen and (max-width: 768px) {
    .example-card {
        height: 500px;
        width: 30px;
    }
    .mat-card-title{
        width: 220px;
        font-size: 16px;
    }
    #vote-average{
        font-size: 16px;
    }
  }
/* 
  @media screen and (max-width: 600px) {
    .example-card {
        margin: 40px auto;
        height: 400px;
    }
    .mat-card-title{
        width: 160px;
        font-size: 14px;
    }
    #vote-average{
     font-size: 14px;       
    }
    h1{
        font-size: 16px;
    }
  } */