<section class="mat-typography">
  <app-navigation></app-navigation>
  <mat-card class="example-card" *ngFor="let item of movies.results">
    <mat-card-header>
      <mat-card-title (click)="getMovieDetails(item)" class="card-title">
        {{item.title}}
      </mat-card-title>
      <span>{{item.vote_average}}/10</span>
      <mat-card-subtitle>{{item.release_date | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
    </mat-card-header>
    <img  mat-card-image src="https://image.tmdb.org/t/p/w500{{item.poster_path}}" alt="{{item.title}}">
  </mat-card>
  <mat-paginator (page)="pageEvent = checkPage($event)" [length]="movies.total_results" [pageSize]="movies.results?.length"
    [pageSizeOptions]="[5, 10, 15, 20]">
  </mat-paginator>
</section>