<section class="mat-typography">
  <app-navigation></app-navigation>
  <h1>{{title | titlecase}}</h1>
  <div fxLayout="row" >
    <div fxLayout.xs="column" fxLayoutWrap  fxFlexFill>
      <mat-card class="example-card"  *ngFor="let item of movies.results">
        <mat-card-header>
          <mat-card-title (click)="goToMovie(item)" class="card-title">{{item.title | slice:0:29 }} <ng-container
              *ngIf="item.title.length >= 29">...</ng-container>
          </mat-card-title>
          <span id="vote-average">{{item.vote_average}}/10</span>
          <mat-card-subtitle>{{item.release_date | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://image.tmdb.org/t/p/w500{{item.poster_path}}" alt="{{item.title}}">
      </mat-card>
    </div>
  </div>
  <mat-paginator (page)="pageEvent = checkPage($event)" [length]="movies.totalResults"
    [pageSize]="movies.results?.length" [pageSizeOptions]="[5, 10, 15, 20]">
  </mat-paginator>
</section>